.rodape{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.466);
    color: var(--laranja);
    text-align: center;
    font-size: x-small;
}