.rodape{
    display: flex;
    position: fixed;
    justify-content: center;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.466);
   
}

.rodape h2 {
    color: var(--laranja);
    font-size: small;
}