.container{
    padding: 0 0 1em 0;
    margin-top: .5em;
    width: 202px;
    background-color: var(--laranjaClaro);
    border-radius: 12px;
    border-style: solid;
    border-color: brown;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.container h2 {
    text-align: center;  
}