.container{
    padding: 1em;
    margin-top: 7;
    width: 300px;
    background-color: var(--laranjaClaro);
    border-radius: 12px;
    border-style: solid;
    border-color: rgb(141, 25, 25);
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
}

.container h2 {
    text-align: center;  
}